<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    <title>Shopping Cart</title>
</head>
<body>

<div class="border">
  <form action="/add" method="get" class="form">
    <label>Shopping Cart</label>
    <br><br>
    <input name="items" placeholder="item" type="text">
    <input type="submit" value="ADD">
  </form>
<br>
    <table class="table">
    <tr>
        <th>Item</th>
    </tr>
        <br><br>
    <tr>
        <td>{{out}}</td>
    </tr>
    </table>
</div>


</body>
</html>